* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content {
  margin-left: 30px;
  margin-right: 30px;
}
}

h1, .health {
  text-align: center;
  font-size: 50px;
}
h2 {
  text-align: center;
  font-size: 30px;
}
#photos {
  display: flex;
  align-content: center;
  justify-content: center;
}

a:hover {
opacity: 0.7;
}
a {
  font-size: 30px;
  padding: 20px;
}
.photo1 {
  height: 300px;
  width: 280px;
  border: 2px solid black;
}

.photo2 {
  height: 300px;
  width: 280px;
  border: 2px solid black;
}
.photo3 {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;*/
  height: 300px;
  width: 280px;
  border: 2px solid black;
}

/* MENU SECTION */
  #acai {
    display: flex;
    align-content: center;
    justify-content: center;
  }
.bowl {
  width: 300px;
  height: 300px;
  padding: 20px;
}
#shakes {
  display: flex;
  align-content: center;
  justify-content: center;
}
.shake {
  width: 300px;
  height: 300px;
  padding: 20px;
}
#protein {
  display: flex;
  align-content: center;
  justify-content: center;
}
.protein {
  width: 300px;
  height: 300px;
  padding: 20px;
}

.smoothiebowl {
  padding: 30px;
}
.bowls {
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 20px;
}
.title {
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 20px;
}
.t, .p {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;

}

/* /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.image {
  background-image: url("/Users/biancatarver/Devpoint2018/Save/restaurant/photos/photowithgreen.jpg");
  /* background-color: black;
  overflow: scroll;
  background-repeat: no-repeat; */
  /* height: 300px;
  width: 200px;
  display: flex;
} */

/* h1 {
  font-family: 'EB Garamond', serif;
  justify-content: space-around;
  font: bold;
  font-size: 35px;
  display: flex;

}
h2 {
  font-family: 'EB Garamond', serif;
  justify-content: space-around;
  font: bold;
  font-size: 35px;
  display: flex;
  margin: 50px;
}

h3 {
  font: bold;
  font-size: 30px;
  text-align: center; */
/* }
button {
  align-content: center;
}  */ 